* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

 
.navbar {
    background:black;
    color: white;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    height: 45px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffd000;
}

 .page-title {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
}

/* INTRO */
.intro-text {
    text-align: center;
    max-width: 800px;
    margin: 15px auto;
    padding: 0 20px;
    font-size: 18px;
    color: #444;
}

/* CARD */
.card {
    width: 80%;
    background: #fff;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}

.card h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card p, .card li {
    margin: 8px 0;
    font-size: 16px;
    color: #333;
}

/* FOOTER */

.footer {
    background: #1c1c1c;
    color: #ddd;
    margin-top: 40px;
    padding: 40px 20px 10px;
    text-align: center;     
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
    color: #aaa;
    display: flex;          
    justify-content: center;
    align-items: center;    
}
