* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

 
.navbar {
    background:rgb(66, 65, 67);
    color: white;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    height:55px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffd000;
}
 
.hero {
    background: url(' https://cdn.s3waas.gov.in/s3ec0490f1f4972d133619a60c30f3559e/uploads/2023/10/SCI-banner.jpg')
                center/cover no-repeat;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-sub {
    font-size: 20px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 28px;
    background: #ffd000;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    background: #ffb400;
}
 
.section-title {
    text-align: center;
    font-size: 30px;
    margin: 40px 0 20px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 40px 40px;
    flex-wrap: wrap;
}

.card {
    background: #ffffff;
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
    border:#444
    

}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

 
@media (max-width: 768px) {
    .hero-title {
        font-size: 32px;
    }
    .nav-links {
        display: none;
    }
}


.footer {
    background: #1c1c1c;
    color: #ddd;
    margin-top: 40px;
    padding: 40px 20px 10px;
    text-align: center;     
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
    color: #aaa;

    display: flex;          
    justify-content: center;
    align-items: center;    
}
